.orders-page-wrapper {
  margin: 30px auto;
  width: fit-content;
}

.no-orders {
  text-align: center;
}

th,
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #941d1d;
  color: white;
}

td {
  background-color: #e8e8e8;
}

.delete-order:hover {
  background-color: #941d1d;
  color: white;
  cursor: pointer;
}
